body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background: #0050EF;
}

.titulo {
   /* background: red;*/
    width: 40%;
    margin: 0 auto;
}

img {
    margin-left: 5px;
}

h1 {
    display: inline;
    position: absolute;
    top: 12px;
    font-size: 24px;
    margin-left: 10px;
    font-weight: 500;
}
.grafico {
    background: #1BA1E2;
    padding: 10px;  
}

.lista {
    background: #A1C6FF;
    padding: 10px;  
}

table {
    width: 100%;
    background: #E1D5E7;
}

tr td {
    padding: 10px 10px;
}

.td-titulo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.td-info {
    font-size: 12px;
}

footer {
    background: #0050EF;
    height: 90px;
}

.redes-sociais {
   /* background: red;*/
    width: 40%;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
 }

 .redes-sociais img {
    margin: 0 10px 0 10px;
 }

 .linha-separadora {
     border-top: 1px solid black;
     width: 70%;
     margin: 5px auto;
 }


 .redes-sociais p {
     color: white;
     font-weight: bold;
     font-size: 16px;
 }




